  .zoom-in {
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }

  .zoom-out {
    /* transform: scale(0.8); */
    transition: transform 0.3s ease;
  }
  .zoom-outt {
    transform: scale(0.8);
    transition: transform 0.3s ease;
  }
   .zoomed {
    transform: scale(1.5);
  }
  .border-in{
    border: 2px solid blue;
    margin-top: 10px;
  }